.header {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  align-self: center;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.purchaseDate {
  font-weight: 600;
  color: var(--text-dark);
}

.imageWrapper {
  position: relative;
  max-width: 30px;
  max-height: 30px;
  min-width: 0px;
  min-height: 0px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.purchaseWrapper {
  display: flex;
}

.price {
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #CDCED9;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.info {
  display: grid;
  gap: 20px;
}

.description {
  text-transform: capitalize;
  max-width: calc(100% - 4rem);
  line-height: 1.5;
}

.image {
  position: relative;
  width: 100%;
  border-radius: 9999px;
  height: 100%;
}